<nav class="relative">
    <ul class="flex justify-end font-extrabold items-center text-white p-5 ">
        <li class="mx-1"><a routerLink="">Inicio</a></li>
        <li class="mx-1"><a routerLink="/calculator">Calculadora</a></li>
        <li class="mx-1"><a routerLink="/admin/crear-color">Admin</a></li>
        <li class="mx-2  text-2xl cursor-pointer"><a (click)="openCart()"><i class="fa-solid fa-cart-shopping"></i></a></li>
        <li class="mx-2 text-2xl"><a routerLink="/auth"><i class="fa-solid fa-user"></i></a></li>
    </ul>
</nav>


 <app-test-cart   class= " "></app-test-cart>


