<nav class="flex justify-between p-5">
  <div>
    <a class="text-3xl font-bold font-heading" routerLink="/profile">
      <i class="fa-solid fa-rotate-left"></i> Volver
    </a>
  </div>
</nav>
<div
  class="bg-gradient-to-br from-blue-900 to-purple-900 min-h-screen items-center"
>
  <div class="flex justify-center items-center min-h-screen">
    <div class="w-3/4 max-w-lg p-6 bg-blue-100 rounded-2xl shadow-md">
      <a class=" font-bold font-heading text-blue-400" routerLink="/profile">
        <i class="fa-solid fa-rotate-left"></i> Volver
      </a>
      <h2 class="text-2xl font-semibold mb-4">Editar Direcciones</h2>
      <hr />
      <form>
        <h3 class="text-lg font-medium mb-2">Dirección de Facturación</h3>
        <div class="mb-4">
          <label for="telefono" class="block text-sm font-medium text-gray-700"
            >Contacto</label
          >
          <input
            type="number"
            id="telefono"
            name="telefono"
            class="mt-1 p-2 w-full border rounded-md"
          />
          <label for="direccion" class="block text-sm font-medium text-gray-700"
            >Direccion</label
          >
          <input
            type="text"
            id="direccion"
            name="direccion"
            class="mt-1 p-2 w-full border rounded-md"
          />
          <label
            for="descripcion"
            class="block text-sm font-medium text-gray-700"
            >Descripcion</label
          >
          <input
            type="text"
            id="descripcion"
            name="descripcion"
            class="mt-1 p-2 w-full border rounded-md"
          />
        </div>
        <hr />

        <h3 class="text-lg font-medium mb-2">Dirección de Envío</h3>
        <div class="mb-4">
          <label for="telefono" class="block text-sm font-medium text-gray-700"
            >Contacto</label
          >
          <input
            type="number"
            id="telefono"
            name="telefono"
            class="mt-1 p-2 w-full border rounded-md"
          />
          <label for="direccion" class="block text-sm font-medium text-gray-700"
            >Direccion</label
          >
          <input
            type="text"
            id="direccion"
            name="direccion"
            class="mt-1 p-2 w-full border rounded-md"
          />
          <label
            for="descripcion"
            class="block text-sm font-medium text-gray-700"
            >Descripcion</label
          >
          <input
            type="text"
            id="descripcion"
            name="descripcion"
            class="mt-1 p-2 w-full border rounded-md"
          />
        </div>

        <div class="flex justify-end">
          <button
            type="submit"
            class="px-4 py-2 bg-violet-400 text-white rounded-md hover:bg-violet-600"
          >
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
