# Carpeta de dependencias de Node.js
node_modules/

# Archivo de bloqueo de yarn
.yarn

# Archivo de bloqueo de npm
package-lock.json

# Carpeta de compilación de Angular
/dist/

# Archivo de configuración de Angular
.angular-cli.json


# Archivo de configuración de ambiente local de Angular
environment.ts

# Archivo de configuración de ambiente de producción de Angular
environment.prod.ts

# Carpeta de archivos de prueba generados por Angular
/src/test.ts
/src/polyfills.ts
/src/tsconfig.spec.json

# Archivos de registro y depuración de Angular
/*.log
*.log.*

# Archivos de almacenamiento local de IDE
.idea/
.vscode/
*.iml

# Archivos de respaldo
*~