<div id="navbarLateral" class=" bg-white shadow-md  w-0 h-screen lg:w-60 overflow-hidden">
    <div class="flex flex-col justify-between h-full">
      <div class="flex-grow">
        <div class="px-4 py-6 h-20 text-center border-b">
          <h1 class="text-xl font-bold leading-none"><span class="text-yellow-700">AVA 3D</span> Dashboard</h1>
        </div>
        <div class="p-4">
          <ul class="space-y-1">
    
            <li>
              <a routerLink="/admin/crear-empleado" class="flex items-center bg-white hover:bg-yellow-50 rounded-xl font-bold text-sm text-gray-900 py-3 px-4"><i class="fa-solid fa-user fa-lg mx-2"></i>Empleados</a>
            </li>
            <li>
                <a routerLink="/admin/crear-codigo" class="flex items-center bg-white hover:bg-yellow-50 rounded-xl font-bold text-sm text-gray-900 py-3 px-4"><i class="fa-solid fa-clipboard fa-lg mx-2"></i>Codigos</a>
              </li>
              <li>
                <a routerLink="/admin/crear-color" class="flex items-center bg-white hover:bg-yellow-50 rounded-xl font-bold text-sm text-gray-900 py-3 px-4"><i class="fa-solid fa-palette fa-lg mx-2"></i>Colores</a>
              </li>
           
          </ul>
          
        </div>
      </div>
      <div class="p-4">
        <button type="button" routerLink="/" class="inline-flex items-center justify-center h-9 px-4 rounded-xl bg-gray-900 text-gray-300 hover:text-white text-sm font-semibold transition"><i class="fa-solid fa-power-off fa-xl text-white"></i></button> 
        <span class="font-bold text-sm ml-2">Salir</span>
      </div>
    </div>
</div>