<div class="fondo w-screen bg-gradient-to-l lg:h-screen " style="background: linear-gradient(to bottom, #757abf 0%,#8583be 60%,#eab0d1 100%);">
    <app-navbar class=" w-full z-10 "></app-navbar>
    <main class="overflow-hidden pt-24 lg:pt-12 relative w-screen">
        <div class="flex flex-col sm:mx-5 sm:flex-row-reverse">
            <div class="sm:w-3/5 lg:w-4/5 sm:justify-end h-full flex justify-center items-center">
                <img [@swimAnimation]="state" src="assets/img/ship.png" alt="" class="w-full max-w-lg sm:max-w-xl md:max-w-2xl lg:max-w-3xl" >
            </div>
            <div class="mt-10 text-center sm:w-2/5 lg:w-1/5 sm:items-start sm:mx-5 sm:text-start  flex flex-col items-center justify-center">
                <!-- <h1 class="text-8xl font-extrabold text-center text-amber-700   ">AVA 3D</h1> -->
                <h1 class="my-4 w-64 font-bold text-orange-800 text-3xl sm:text-4xl lg:text-5xl">Transforma tus ideas en realidad</h1>
                <p class="my-4 w-64 font-medium text-orange-400 text-3xl sm:text-4xl lg:text-sm"></p>
                <button class=" my-2 sm:my-0 text-xl text-white p-3  font-bold bg-amber-950 hover:bg-orange-600 duration-100" routerLink="/calculator">¡Empieza a crear!</button>
            </div>
            
        </div>
    </main>

    
</div>

