<nav class=" flex justify-between p-5" >

    <div>
        <a class="text-3xl font-bold font-heading" routerLink="/profile">
            <i class="fa-solid fa-rotate-left"></i> Volver
        </a>
    </div>
</nav>

<div
  class="bg-gradient-to-br from-blue-900 to-purple-900 min-h-screen flex flex-col justify-center items-center"
>
    <div class="flex justify-center items-center min-h-screen">
        <div class="bg-blue-100 w-full p-6 rounded-lg shadow-lg shadow-slate-400">
            <a class=" font-bold font-heading text-blue-400" routerLink="/profile">
                <i class="fa-solid fa-rotate-left"></i> Volver
              </a>
            <h2 class="text-2xl font-semibold mb-4">Editar Perfil de Usuario</h2>
            <form>
                <div class="mb-4">
                    <label for="nombre" class="block text-sm font-medium text-gray-700">Nombre <p class="text-xs sm:text-base dark:text-gray-400">{{userData.name}}</p> </label>
                    
                    <input type="text" id="nombre" name="nombre" class="mt-1 p-2 w-full border rounded-md">
                </div>
                <div class="mb-4">
                    <label for="email" class="block text-sm font-medium text-gray-700">Correo Electrónico<p class="text-xs sm:text-base dark:text-gray-400">{{userData.email}}</p></label>
                    <input type="email" id="email" name="email" class="mt-1 p-2 w-full border rounded-md">
                </div>
                <div class="mb-6">
                    <label for="foto" class="block text-sm font-medium text-gray-700">Foto de Perfil</label>
                    <img src="https://source.unsplash.com/150x150/?portrait?3" alt="" class="w-32 h-32 mx-auto rounded-full dark:bg-gray-500 aspect-square">
                    <input type="file" id="foto" name="foto" class="mt-1">
                </div>
                <div class="flex justify-end">
                    <button type="submit" class="px-4 py-2 bg-violet-400 text-white rounded-md hover:bg-violet-600">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>


