
<div class="flex">
    <div *ngIf="checkIsAdmin()">
        <app-navbar-side></app-navbar-side>
    </div>
    <div class="flex-grow">
        <div *ngIf="!checkIsAdmin()">
            <app-navbar></app-navbar>
        </div>

        
        <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>401</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

        body{font-family: 'Anton', sans-serif;color: #bd7366;}
        </style>
</head>
<body >
    
    <nav>
        <!-- navar -->
    </nav>

    <main class="flex w-full h-screen xl:p-5">
        <section class="flex h-full w-full flex-col p-5 text-center justify-center sm:flex sm:flex-row sm:justify-center sm:items-center xl:justify-around ">
            <article class="error text-2xl flex flex-col items-center sm:self-start md:mt-10">
                <h1 class="text-9xl m-5">401</h1>
                <p class="w-48 lg:text-3xl lg:w-60">No tienes permitido entrar aca</p>
            </article>

            <article class="grafios flex items-end justify-center mt-10 lg:1/5 xl:w-2/3">
                <img src="assets/img/cocodrilo.png" alt="cocodrilo" class="w-2/5 hidden sm:block sm:w-2/4 ">
                <img src="assets/img/puerta.png" alt="puerta" class="w-2/5 sm:w-2/4">
            </article>
        </section>
    </main>


</body>
</html>


    </div>
</div>
