<div class=" bg-blue-100 relative py-10 h-screen">

    <!-- <app-navbar-top></app-navbar-top> -->
    <div class="flex flex-wrap mx-3 ml-28">
        <div  class="bg-transparent flex flex-col justify-center items-center h-[700px] w-[700px]  absolute left-[700px]">
            <div #stlCont class="h-full w-full cursor-crosshair	">
            </div>
        </div>
        <div class="relative w-full max-w-full px-3 lg:flex-0 shrink-0 lg:w-7/12">
            <div
                class="relative flex flex-col min-w-0 mb-6 break-words bg-transparent border-0 border-solid shadow-none border-black-125 rounded-2xl bg-clip-border">
                <div class="flex-auto p-4">
                    <div class="flex flex-wrap -ml-3">
                        <div class="w-full max-w-full px-3 lg:flex-0 shrink-0 lg:w-6/12">
                            <div class="flex flex-col h-full">
                                <h2 class="mb-0 font-bold dark:text-white">Estadisticas Generales</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-wrap -mx-3">
                <div class="w-full max-w-full px-3 sm:flex-0 shrink-0 sm:w-6/12 lg:w-5/12">
                    <div
                        class="relative flex flex-col min-w-0 mb-6 break-words bg-white dark:bg-gray-950 shadow-soft-xl dark:shadow-soft-dark-xl rounded-2xl bg-clip-border">
                        <div class="flex-auto p-4">
                            <div class="flex flex-wrap -mx-3">
                                <div class="flex-none w-2/3 max-w-full px-3">
                                    <div>
                                        <p class="mb-0 font-sans font-semibold leading-normal text-sm dark:opacity-60">
                                            Dinero ganado hoy</p>
                                        <h5 class="mb-0 font-bold dark:text-white">
                                            $53,000
                                        </h5>
                                    </div>
                                </div>
                                <div class="w-4/12 max-w-full px-3 text-right flex-0">
                                    <div
                                        class="inline-block w-12 h-12 text-center rounded-lg bg-gradient-to-tl from-purple-700 to-pink-500 shadow-soft-2xl">
                                        <i class="fa-solid fa-money-bill text-2xl relative top-2 text-white"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="relative flex flex-col min-w-0 break-words bg-white dark:bg-gray-950 shadow-soft-xl dark:shadow-soft-dark-xl rounded-2xl bg-clip-border">
                        <div class="flex-auto p-4">
                            <div class="flex flex-wrap -mx-3">
                                <div class="flex-none w-2/3 max-w-full px-3">
                                    <div>
                                        <p class="mb-0 font-sans font-semibold leading-normal text-sm dark:opacity-60">
                                            Cantidad de ventas</p>
                                        <h5 class="mb-0 font-bold dark:text-white">
                                            2,300
                                        </h5>
                                    </div>
                                </div>
                                <div class="w-4/12 max-w-full px-3 text-right flex-0">
                                    <div
                                        class="inline-block w-12 h-12 text-center rounded-lg bg-gradient-to-tl from-purple-700 to-pink-500 shadow-soft-2xl">
                                        <i class="fa-solid fa-cart-shopping text-2xl relative top-2 text-white"></i>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full max-w-full px-3 mt-6 sm:flex-0 shrink-0 sm:mt-0 sm:w-6/12 lg:w-5/12">
                    <div
                        class="relative flex flex-col min-w-0 mb-6 break-words bg-white dark:bg-gray-950 shadow-soft-xl dark:shadow-soft-dark-xl rounded-2xl bg-clip-border">
                        <div class="flex-auto p-4">
                            <div class="flex flex-wrap -mx-3">
                                <div class="flex-none w-2/3 max-w-full px-3">
                                    <div>
                                        <p class="mb-0 font-sans font-semibold leading-normal text-sm dark:opacity-60">
                                            Usuarios totales</p>
                                        <h5 class="mb-0 font-bold dark:text-white">
                                            +3,462
                                        </h5>
                                    </div>
                                </div>
                                <div class="w-4/12 max-w-full px-3 text-right flex-0">
                                    <div
                                        class="inline-block w-12 h-12 text-center rounded-lg bg-gradient-to-tl from-purple-700 to-pink-500 shadow-soft-2xl">
                                        <i class="fa-solid fa-user text-2xl relative top-2 text-white"></i>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="relative flex flex-col min-w-0 break-words bg-white dark:bg-gray-950 shadow-soft-xl dark:shadow-soft-dark-xl rounded-2xl bg-clip-border">
                        <div class="flex-auto p-4">
                            <div class="flex flex-wrap -mx-3">
                                <div class="flex-none w-2/3 max-w-full px-3">
                                    <div>
                                        <p class="mb-0 font-sans font-semibold leading-normal text-sm dark:opacity-60">
                                            Dinero total ganado</p>
                                        <h5 class="mb-0 font-bold dark:text-white">
                                            $103,430
                                        </h5>
                                    </div>
                                </div>
                                <div class="w-4/12 max-w-full px-3 text-right flex-0">
                                    <div
                                        class="inline-block w-12 h-12 text-center rounded-lg bg-gradient-to-tl from-purple-700 to-pink-500 shadow-soft-2xl">
                                        <i class="fa-solid fa-sack-dollar text-2xl relative top-2 text-white"></i>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-wrap mt-6 -mx-3">
                <div class="w-full max-w-full px-3 flex-0 lg:w-10/12">
                    <div
                        class="relative flex flex-col min-w-0 break-words bg-white border-0 border-solid dark:bg-gray-950 border-black-125 shadow-soft-xl dark:shadow-soft-dark-xl rounded-2xl bg-clip-border">
                        <div class="p-4 pb-0 mb-0 rounded-t-4">
                            <div class="flex justify-between">
                                <h6 class="mb-2 dark:text-white">Top 4 ciudades con mas ventas</h6>
                            </div>
                        </div>
                        <div class="overflow-x-auto ps">
                            <table class="items-center w-full mb-4 align-top border-gray-200 dark:border-white/40">
                                <tbody>
                                    <tr>
                                        <td
                                            class="p-2 align-middle bg-transparent border-b w-3/10 whitespace-nowrap dark:border-white/40">
                                            <div class="flex items-center px-2 py-1">

                                                <div class="ml-6">
                                                    <p class="mb-0 font-semibold leading-tight text-xs dark:opacity-60">
                                                        Ciudad:</p>
                                                    <h6 class="mb-0 leading-normal text-sm dark:text-white">Itagui</h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td
                                            class="p-2 align-middle bg-transparent border-b whitespace-nowrap dark:border-white/40">
                                            <div class="text-center">
                                                <p class="mb-0 font-semibold leading-tight text-xs dark:opacity-60">
                                                    Ventas:</p>
                                                <h6 class="mb-0 leading-normal text-sm dark:text-white">2500</h6>
                                            </div>
                                        </td>
                                        <td
                                            class="p-2 align-middle bg-transparent border-b whitespace-nowrap dark:border-white/40">
                                            <div class="text-center">
                                                <p class="mb-0 font-semibold leading-tight text-xs dark:opacity-60">
                                                    Ganancia:</p>
                                                <h6 class="mb-0 leading-normal text-sm dark:text-white">$230,900</h6>
                                            </div>
                                        </td>
                                        
                                    </tr>
                                    <tr>
                                        <td
                                            class="p-2 align-middle bg-transparent border-b w-3/10 whitespace-nowrap dark:border-white/40">
                                            <div class="flex items-center px-2 py-1">

                                                <div class="ml-6">
                                                    <p class="mb-0 font-semibold leading-tight text-xs dark:opacity-60">
                                                        Ciudad:</p>
                                                    <h6 class="mb-0 leading-normal text-sm dark:text-white">Medellin</h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td
                                            class="p-2 align-middle bg-transparent border-b whitespace-nowrap dark:border-white/40">
                                            <div class="text-center">
                                                <p class="mb-0 font-semibold leading-tight text-xs dark:opacity-60">
                                                    Ventas:</p>
                                                <h6 class="mb-0 leading-normal text-sm dark:text-white">1.600</h6>
                                            </div>
                                        </td>
                                        <td
                                            class="p-2 align-middle bg-transparent border-b whitespace-nowrap dark:border-white/40">
                                            <div class="text-center">
                                                <p class="mb-0 font-semibold leading-tight text-xs dark:opacity-60">
                                                    Ganancia:</p>
                                                <h6 class="mb-0 leading-normal text-sm dark:text-white">$440,000</h6>
                                            </div>
                                        </td>
                                     
                                    </tr>
                                    <tr>
                                        <td
                                            class="p-2 align-middle bg-transparent border-b w-3/10 whitespace-nowrap dark:border-white/40">
                                            <div class="flex items-center px-2 py-1">
                                                <div class="ml-6">
                                                    <p class="mb-0 font-semibold leading-tight text-xs dark:opacity-60">
                                                        Ciudad:</p>
                                                    <h6 class="mb-0 leading-normal text-sm dark:text-white">Bogota</h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td
                                            class="p-2 align-middle bg-transparent border-b whitespace-nowrap dark:border-white/40">
                                            <div class="text-center">
                                                <p class="mb-0 font-semibold leading-tight text-xs dark:opacity-60">
                                                    Ventas:</p>
                                                <h6 class="mb-0 leading-normal text-sm dark:text-white">1.400</h6>
                                            </div>
                                        </td>
                                        <td
                                            class="p-2 align-middle bg-transparent border-b whitespace-nowrap dark:border-white/40">
                                            <div class="text-center">
                                                <p class="mb-0 font-semibold leading-tight text-xs dark:opacity-60">
                                                    Ganancia:</p>
                                                <h6 class="mb-0 leading-normal text-sm dark:text-white">$190,700</h6>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td class="p-2 align-middle bg-transparent border-0 w-3/10 whitespace-nowrap">
                                            <div class="flex items-center px-2 py-1">
                                                <div class="ml-6">
                                                    <p class="mb-0 font-semibold leading-tight text-xs dark:opacity-60">
                                                        Ciudad:</p>
                                                    <h6 class="mb-0 leading-normal text-sm dark:text-white">Cali</h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="p-2 align-middle bg-transparent border-0 whitespace-nowrap">
                                            <div class="text-center">
                                                <p class="mb-0 font-semibold leading-tight text-xs dark:opacity-60">
                                                    Ventas:</p>
                                                <h6 class="mb-0 leading-normal text-sm dark:text-white">562</h6>
                                            </div>
                                        </td>
                                        <td class="p-2 align-middle bg-transparent border-0 whitespace-nowrap">
                                            <div class="text-center">
                                                <p class="mb-0 font-semibold leading-tight text-xs dark:opacity-60">
                                                    Ganancia:</p>
                                                <h6 class="mb-0 leading-normal text-sm dark:text-white">$143,960</h6>
                                            </div>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                            <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                                <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                            </div>
                            <div class="ps__rail-y" style="top: 0px; right: 0px;">
                                <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <app-navbar-side></app-navbar-side>


</div>