<div class=" bg-amber-100 relative py-10 h-screen">

    <!-- <app-navbar-top></app-navbar-top> -->
    <div class="bg-white shadow rounded-xl mx-8 ml-28  overflow-x-auto overflow-y-auto ">
      <div class=" px-4 sm:px-8">
      <div class="py-8">
                        <h2 class="text-2xl font-semibold leading-tight">Codigos</h2>

        <div class="flex flex-col justify-start items-start sm:flex-row-reverse sm:justify-between sm:items-center my-3 ">
          <div class="">
              <button (click)="showFormCode()" class="bg-blue-500 hover:bg-blue-700 text-white rounded-l border block appearance-none w-20  py-2 px-4 leading-tight ">
                Crear
             </button>
          </div>
          <div class="flex flex-col sm:flex-row my-3">
            <div class="flex">
              
              <select [(ngModel)]="statusQuery" (ngModelChange)="searchCodeStatus()" class="flex-shrink-0 py-2.5 px-2 text-sm font-medium text-center text-gray-500 bg-gray-100 border border-gray-300 rounded-l-lg hover:bg-gray-200">
                  <option value="">Todos</option>
                  <option value=true>Activos</option> 
                  <option value=false>Inactivos</option> 

                </select>
            
              <div class="relative w-full">
                  <input [(ngModel)]="searchQuery" type="search" class="block p-2.5 w-full h-full z-20 text-sm text-gray-900 bg-gray-50 rounded-r-lg border-l-gray-50 border-l-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500" placeholder="Buscar">
                  <button (click)="search()" class="absolute top-0 right-0 h-full p-2.5 text-sm font-medium text-white bg-blue-700 rounded-r-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                      <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                      </svg>
                  </button>
              </div>
          </div>

          </div>
        </div>
          <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4">
              <div class="inline-block shadow rounded-lg w-full">

                <div class=" overflow-x-auto shadow-md  h-[400px] ">
                  <table class=" text-sm text-left w-full text-gray-500">
                      <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                          <tr>
                              <th></th>
                              <th scope="col" class="px-6 py-3"> Codigo</th>
                              <th scope="col" class="px-6 py-3">Fecha Final</th>
                              <th scope="col" class="px-6 py-3"> Descuento </th>
                              <th scope="col" class="px-6 py-3">Acciones</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let code of codes"class="bg-white border-b">
                              <td><input [checked]="code.status" (click)="toggleCodeStatus(code._id)" type="checkbox" value="" class="w-4 h-4 mx-4 accent-orange-600 rounded focus:ring-yellow-500"></td>
                              <td class="px-6 py-3 font-medium text-gray-900"> {{code.code}}</td>
                              <td class="px-6 py-3"> {{code.finalDate}} </td>
                              <td class="px-6 py-3">{{ code.discount}}</td>
                              <td class="px-6 py-3 flex">
                                <i class="fa-solid fa-pen text-orange-500 cursor-pointer" (click)="showFormEditCode(code._id)" ></i> 
                              </td>
                          </tr>
                      
                      </tbody>
                  </table>
              </div>
                  <div class="px-5 py-5 bg-white border-t flex flex-col xs:flex-row items-center xs:justify-between w-full ">
                      <span class="text-xs xs:text-sm text-gray-900">
                          {{showingRange}}
                      </span>
                      <div class="inline-flex mt-2 xs:mt-0">
                          <button (click)="changePage(paginationData.prevPage)" [disabled]="!paginationData.hasPrevPage" class="text-sm bg-gray-300 disabled:bg-gray-100 hover:bg-gray-400 disabled:hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 rounded-l">
                              Anterior
                          </button>
                          <button (click)="changePage(paginationData.nextPage)" [disabled]="!paginationData.hasNextPage" class="text-sm bg-gray-300 disabled:bg-gray-100 hover:bg-gray-400 disabled:hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 rounded-r">
                              Siguiente
                          </button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      </div>
    </div>
    <app-navbar-side ></app-navbar-side>


</div>

<div  *ngIf="!formIsHidden" class="fixed inset-0 flex items-center justify-center z-50">
  <div class="absolute inset-0 bg-black opacity-60"></div>
  <div [@opacity0To100] class="bg-white p-6 rounded-lg shadow-lg z-10 w-80 max-w-80 opacity-100">
    <h2 class="text-xl font-semibold mb-4">{{ createCodeTitle }}</h2>
    <form [formGroup]="codeForm" (submit)="createCode()">
      <div class="mb-4">
        <label for="code" class="block text-sm font-medium">Codigo</label>
        <input formControlName="code" placeholder="azazer" type="text" id="nombre" name="nombre" class="w-full px-3 py-2 border rounded-md">
        <div *ngIf="codeForm.get('code')!.errors && codeForm.get('code')!.touched" class="text-md font-thin text-red-600">
          <div *ngIf="codeForm.get('code')!.hasError('required')">El codigo es obligatorio.</div>
        </div>
      </div>
      <div class="mb-4">
        <label for="discount" class="block text-sm font-medium">Porcentaje de descuento</label>
        <input formControlName="discount" type="number" id="discount" name="discount" placeholder="10" class="w-full px-3 py-2 border rounded-md">

        <div *ngIf="codeForm.get('discount')!.errors && codeForm.get('discount')!.touched" class="text-md font-thin text-red-600">
          <div *ngIf="codeForm.get('discount')!.hasError('required')">El descuento es obligatorio.</div>
        </div>
      </div>
      <div class="mb-4">
        <label for="finalDate" class="block text-sm font-medium">Fecha Final</label>
        <input formControlName="finalDate" type="date" id="finalDate" name="finalDate" class="w-full px-3 py-2 border rounded-md">

        <div *ngIf="codeForm.get('finalDate')!.errors && codeForm.get('finalDate')!.touched" class="text-md font-thin text-red-600">
          <div *ngIf="codeForm.get('finalDate')!.hasError('required')">La fecha final es obligatoria.</div>
        </div>
      </div>
      
      <div class="flex justify-between">
        <button (click)="cancelFormCode()" type="button" class="px-4 py-2 bg-red-500 text-white rounded-md">Cancelar</button>
        <button type="submit" [disabled]="!codeForm.valid" class="px-4 py-2 bg-blue-500 text-white rounded-md"> {{ createCodeButton }} </button>
      </div>
    </form>

  </div>
