<div class="flex-grow">
    <app-navbar></app-navbar>
</div>

<body class="bg-gradient-to-br from-blue-900 to-purple-900 min-h-screen flex flex-col justify-center items-center">
    <div class="bg-white w-11/12 max-w-3xl p-6 rounded-lg shadow-lg">
        <div class="flex items-center justify-between mb-6">
            <h1 class="text-3xl font-semibold text-purple-900">¡Hola, Usuario!</h1>
            <a (click)="logout()" class="text-blue-500 hover:underline">Cerrar sesión</a>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-8">
            <div class="bg-purple-100 p-6 rounded-lg">
                <h2 class="text-xl font-medium text-purple-900 mb-4">Información de la cuenta</h2>
                <h3 class="text-l font-semibold ">Datos de Contacto</h3>
                <p class="text-xs sm:text-base dark:text-gray-400">Juanito Alimaña<!-- {{userData.name}} --></p>
                <p class="text-xs sm:text-base dark:text-gray-400 ">juanito@gmail.com<!-- {{userData.email}} --></p>
            </div>
            <div class="bg-purple-100 p-6 rounded-lg">
                <h2 class="text-xl font-semibold text-purple-900 mb-4">Libreta de direcciones</h2>
                <!-- Contenido de la libreta de direcciones -->
            </div>
        </div>

        <div>
            <h2 class="text-xl font-semibold text-purple-700 mb-6">Dashboard de Pedidos</h2>
            <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <!-- Listado de pedidos -->
                <li class="bg-blue-200 p-4 rounded-lg">
                    <!-- Detalles del pedido -->
                </li>
                <li class="bg-blue-200 p-4 rounded-lg">
                    <!-- Detalles del pedido -->
                </li>
                <!-- ... más elementos de la lista ... -->
            </ul>
        </div>
    </div>
</body>