<div class="flex-grow">
    <app-navbar></app-navbar>
</div>

<section>
    <div class="relative mx-auto max-w-screen-xl px-4 py-8">
      <div>
        <h1 class="text-2xl font-bold md:text-3xl">Calculadora 3d STL</h1>
      </div>
  
        <div class="flex flex-col md:flex-row mt-4">
            <div class="w-full md:w-3/4">
          <div class="relative">

            <!-- caja drag and drop -->
            <div class="h-72 w-full rounded-xl object-cover md:h-[600px] bg-dark relative">
                    <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-full rounded-l-lg cursor-pointer bg-dark hover:bg-black">
                        <div class="flex flex-col items-center justify-center pt-5 pb-6">
                            <svg aria-hidden="true" class="w-10 h-10 mb-3 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path></svg>
                            <p class="mb-2 text-sm text-white"><span class="font-semibold">Click para subir el archivo</span> o sueltalo aca</p>
                            <p class="text-xs text-white">STL (MAX. 20MB)</p>
                        </div>
                    </label>
                </div> 

                <div #stlContainer class="cursor-crosshair relative flex items-center justify-center bg-dark w-full h-full">
                  <!-- carga -->
                    
                </div>
            </div>

              <span class="ms-1.5 text-xs"> <i class="fa-solid fa-computer-mouse text-dark"></i> Scroll para hacer zoom </span>
            </div>
          </div>
        </div>
        <div class="w-full md:w-2/5 relative">
        <!-- configuracion -->
          <form  class="space-y-4 md:pt-8  ">

            <fieldset class="h-20 overflow-hidden">
              <legend class="text-lg font-bold">Color</legend>
              <div class="mt-2 ">

              </div>
            </fieldset>
            <fieldset  class="h-20 overflow-hidden">
                <legend class="text-lg font-bold">Relleno</legend>
        
              </fieldset>
              <fieldset class="h-24 overflow-hidden">
                <legend class="text-lg font-bold">Tamaño</legend>
                <div class="grid gap-6  grid-cols-3 mt-2">
                    <div>
                       
                        <p  class="block text-sm font-medium text-gray-900 text-center">X</p>
                     </div>
                    <div>
                
                        <p  class="block text-sm font-medium text-gray-900 text-center dark:text-white">Y</p>
                      </div>
                    <div>
                   
                    <p  class="block text-sm font-medium text-gray-900 text-center dark:text-white">Z</p>
                  </div>
                </div>
              </fieldset>
              
          </form>
        </div>

        <!-- precio -->
  </section>

             