<div  [ngClass]="{'bg-gray-500': isCartOpen()?true:false,'z-40': isCartOpen()?true:false}" class="h-screen w-screen  bg-opacity-40 -z-10 duration-100 absolute top-0"></div> 


            <div [@changeWidth0To1002]  *ngIf="isCartOpen()" class="absolute max-w-sm  right-0 h-screen top-0 z-50 flex w-full flex-col overflow-y-auto bg-white shadow-xl">
              <div class="flex-1 overflow-y-auto px-4 py-6 sm:px-6">
                <div class="flex items-start justify-between">
                  <h2 class="text-lg font-medium text-gray-900" id="slide-over-title">Shopping cart</h2>
                  <div class="ml-3 flex h-7 items-center">
                    <button (click)="closeCart()" type="button" class="-m-2 p-2 text-gray-400 hover:text-gray-500">
                      <span class="sr-only">Close panel</span>
                      <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                      </svg>
                    </button>
                  </div>
                </div>
  
                <div class="mt-8">
                  <div class="flow-root">
                    <ul role="list" class="-my-6 divide-y divide-gray-200">
                      <li *ngFor="let product of products; let i = index" class="flex py-6">
                        <div class="h-24 w-24 flex-shrink-0 overflow-hidden rounded-md border border-gray-200">
                          <img [src]="fixImg(product.pathImage)" alt="Salmon orange fabric pouch with match zipper, gray zipper pull, and adjustable hip belt." class="h-full w-full object-cover object-center">
                        </div>
  
                        <div class="ml-4 flex flex-1 flex-col">
                          <div>
                            
                            <div class="flex justify-between text-base font-medium text-gray-900">
                              <h3><a href="#">{{"Producto "+ (i+1)}}</a></h3>
                              <p class="ml-4">{{"$"+ calculatePrice(product.weigth,product.quantity)}}</p>
                            </div>
                            <div class="">
                                <p class="mt-1 text-sm text-gray-500">{{"Peso: "+product.weigth.toFixed(1) +"g"}}</p>
                                <p class="mt-1 text-sm text-gray-500">{{"Relleno: "+product.fill.toFixed(0) +"%"}}</p>
                                <p class="mt-1 text-sm text-gray-500">{{"Color: "+product.color.name}}</p>
                                <p class="mt-1 text-sm text-gray-500">{{"Tamaño: [x: "+product.sizeX.toFixed(0)+"cm, y:"+product.sizeY.toFixed(0)+"cm, z:"+product.sizeZ.toFixed(0)+"cm]"}}</p>
                              </div>
                          </div>
                          <div class="flex flex-1 items-end justify-between text-sm">
                            <div class="mt-4 flex justify-between  ">
                                <div class="flex items-center border-gray-100 justify-end">
                                  <button [disabled]="product.quantity<2" (click)="decreaseQuantity(i)" class="h-8 cursor-pointer rounded-l bg-gray-100 py-1 px-3.5 duration-100 disabled:cursor-default hover:bg-stone-300 hover:text-blue-50"> - </button>
                                  <input disabled class="h-8 w-8 border bg-white text-center text-xs outline-none" type="number" [value]="product.quantity" min="1" />
                                  <button (click)="increaseQuantity(i)" class="h-8 cursor-pointer rounded-r bg-gray-100 py-1 px-3 duration-100 hover:bg-stone-300 hover:text-blue-50"> + </button>
                                </div>
                            </div>
  
                            <div class="flex">
                              <button type="button" class="font-medium text-indigo-600 hover:text-indigo-500">Eliminar</button>
                            </div>
                          </div>
                        </div>
                      </li>

                    </ul>
                  </div>
                </div>
              </div>
  
              <div class="border-t border-gray-200 px-4 py-6 sm:px-6">
                <div class="flex justify-between text-base font-medium text-gray-900">
                  <p>Subtotal</p>
                  <p>{{"$"+totalPrice}}</p>
                </div>
                <p class="mt-0.5 text-sm text-gray-500">Para añadir codigos y ver el precio de envio continua la compra</p>
                <div class="mt-6">
                  <a href="#" class="flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-indigo-700">Continuar</a>
                </div>
              </div>
            </div>

  