<div class="flex-grow">
    <app-navbar></app-navbar>
</div> 

<section class="bg-transparent " *ngIf="loginVisible">
    <div class="flex flex-col items-center justify-center px-32 py-8 mx-auto  lg:py-0">

        <div class="w-full bg-white rounded-lg shadow mt-32 sm:max-w-md xl:p-0.5">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
                    Iniciar sesion
                </h1>
                <form [formGroup]="userForm" (submit)="login()" class="space-y-4 md:space-y-6" >
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Correo</label>
                        <input formControlName="email" type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="name@company.com" required="">
                    </div>
                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Contraseña</label>
                        <input formControlName="password" type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" required="">
                    </div>
                   
                    <button type="submit" class="w-full text-white bg-blue-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Iniciar sesion</button>
                    <p class="text-sm font-light text-gray-500">
                        ¿No tienes cuenta? <a (click)="cambiarLoginRegistro()" class="font-medium text-primary-600 hover:underline cursor-pointer">Registrate</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
  </section>

<section class="bg-transparent" *ngIf="!loginVisible">
    <div class="flex flex-col items-center justify-center px-32 py-8 mx-auto  lg:py-0">

        <div class="w-full bg-white rounded-lg shadow mt-8 sm:max-w-md xl:p-0.5">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
                    Crear cuenta
                </h1>
                <form class="space-y-4 md:space-y-6" [formGroup]="userForm" (submit)="register()">
                    <div>
                        <label for="fullName" class="block mb-2 text-sm font-medium text-gray-900">Nombre Completo</label>
                        <input formControlName="fullName" type="fullName" name="fullName" id="fullName" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Gustavo Mesa" required="">
                    </div>
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Correo</label>
                        <input formControlName="email" type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="name@company.com" required="">
                    </div>
                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Contraseña</label>
                        <input formControlName="password" type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" required="">
                    </div>
                    <div>
                        <label for="confirm-password" class="block mb-2 text-sm font-medium text-gray-900">Confirmar Contraseña</label>
                        <input formControlName="password2" type="confirm-password" name="confirm-password" id="confirm-password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" required="">
                    </div>
                    <div class="flex items-start">
                        <div class="flex items-center h-5">
                          <input id="terms" aria-describedby="terms" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300" required="">
                        </div>
                        <div class="ml-3 text-sm">
                          <label for="terms" class="font-light text-gray-500">Acepto los<a class="font-medium text-blue-600 hover:underline" href="#">Terminos y condiciones</a></label>
                        </div>
                    </div>
                    <button type="submit" class="w-full text-white bg-blue-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center  ">Registrarse</button>
                    <p class="text-sm font-light text-gray-500">
                        ¿Ya tienes cuenta? <a (click)="cambiarLoginRegistro()" class="font-medium text-primary-600 hover:underline ">Iniciar sesion</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
  </section>